# General
node_modules
.env
.envrc
coverage
coverage.json
typechain
dist

# VS Code
.vscode

#Hardhat files
cache
artifacts
typechain-types
deployments
_private

# Forge
artifacts-forge
broadcast

# IntelliJ
.idea

# Openzeppelin Proxy files
.openzeppelin
