node_modules
.env
.envrc
coverage
coverage.json
typechain

.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json

#Hardhat files
cache
artifacts
typechain-types
deployments
_private

# Forge
artifacts-forge
broadcast
